* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.center {
    /* box-sizing: border-box; */
    width: 1280px;
    margin: 0 auto;
    background-color: gray;
}

.artigo {
    box-sizing: border-box;
    border: 3px dotted red;
    vertical-align: top;
    display: inline-block;
    margin-right: -4px;
    width: 640px;
}